.aboutContent {
  padding-top: 130px;
  .newText {
    font-size: 30px;
    font-family: $north;
    line-height: 1.3;
    text-align: center;
    color: $color-olive;
    margin-top: 30px;
  }

  .newTextHomeweare {
    color: $color-caramiziu;
  }

  h3 {
    font-family: $fontGillSansLight;
    font-size: $font-size-big;
    color: $color-caramiziu;
    letter-spacing: -0.03px;
    text-align: center;
    text-transform: uppercase;
  }
  section {
    padding: 50px 0;
  }
  a {
    position: relative;

    &:hover ul li {
      margin-right: -100px;
    }
    &:hover ul li:first-child {
      width: 100%;
    }
    span {
      font-family: $fontGillSansLight;
      font-size: $font-size-medium;
      color: $color-caramiziu;
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    ul {
      display: flex;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 100%;
      padding-right: 5px;
      overflow: hidden;
    }
    li {
      border: 2px solid $color-standart;
      border-radius: 50%;
      transition: all .3s ease;

      &:first-child {
        width: 70%;
        border-radius: 3px;
        transition-delay: .2s;
      }
    }
  }
  .cont {
    position: relative;
  }
  p {
    font-family: $fontGillSansLight;
    font-size: $font-size-standard;
    color: $color-standart;
    letter-spacing: 0.08px;
    line-height: 24px;
  }

  section:nth-child(1) {
    padding: 0;
  }
  section:nth-child(2) {
    padding-top: 0;
    .container {
      padding: 0;
    }
    .tranText {
      font-family: $fontGillSansLight;
      font-size: 25px;
      color: $color-standart;
      letter-spacing: 3.17px;
      line-height: 1;
      text-align: center;
      margin: 30px 0;
      padding: 0 15px;
    }
    .img2 {
      display: block;
      margin-right: 0;
      margin-left: auto;
      width: 65vw;
    }
    .img1 {
      position: absolute;
      width: 45vw;
      left: 0;
      top: 35%;
    }
    .colorRed {
      font-family: $fontGillSansLight;
      font-size: $font-size-big;
      color: $color-olive;
      letter-spacing: 0.13px;
      line-height: 30px;
      margin-top: 30px;
    }
    p {
      margin-top: 20px;
    }
    .row {
      margin: 0;
    }
  }
  section:nth-child(3) {
    background: $pink-bg;
    padding-top: 0;
    margin-top: 50px;

    .block1 {
      padding-bottom: 50px;
      position: relative;
      top: -50px;

      img {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: 0;
      }
      p {
        font-family: $fontGillSansLight;
        font-size: $font-size-big;
        color: $color-standart;
        letter-spacing: 0.13px;
        line-height: 30px;
        margin-top: 30px;
      }
    }
    .imgContainer {
      position: relative;

      .tranText {
        font-family: $fontGillSansLight;
        font-weight: 700;
        color: $color-standart;
        letter-spacing: 3.17px;
        line-height: 1;
        position: absolute;
        left: 0;
        top: -70px;
        z-index: 3;
        font-size: 25px;
      }
    }
    .block2 p {
      font-family: $fontGillSansLight;
      font-size: $font-size-standard;
      color: $color-standart;
      letter-spacing: 0.08px;
      line-height: 24px;
      margin-top: 30px;
    }
  }
  section:nth-child(4) {
    // background: $image-silver-bg;
    background: $collection-page-seturi-impare-background;
    background-size: 100%;
    background-repeat: repeat;
    p.dens {
      font-family: $fontGillSansLight;
      font-size: $font-size-standard;
      color: $color-standart;
      letter-spacing: 0.13px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    p {
      font-family: $fontGillSansLight;
      font-size: $font-size-standard;
      color: $color-standart;
      letter-spacing: 0.08px;
      line-height: 24px;
    }
    img {
      margin-bottom: 30px;
    }
  }
  section:nth-child(5) {
    // background: $image-silver-bg, $image-gold-bg;
    background: linear-gradient(to bottom, $pink-bg 37%, $collection-page-seturi-impare-background 37%);
    // background-size: 100% 37%, 100%;
    // background-position: 0 0, 0 100%;
    background-repeat: no-repeat;

    h4 {
      font-family: $fontGillSansLight;
      font-size: $font-size-big;
      color: $color-olive;
      letter-spacing: 0.13px;
      text-transform: uppercase;
      text-align: center;
    }
    .imgContainer {
      position: relative;
      margin-bottom: 30px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .scaleOut {
      width: 50%;
      margin: auto;
    }
    #top2 {
      display: block;
      position: absolute;
      top: 40%;
      width: 30%;
      left: 0;
    }
    #bottom {
      display: block;
      position: absolute;
      top: 25%;
      right: 0;
      width: 30%;
    }
    .subtext {
      font-family: $fontGillSansLight;
      font-size: $font-size-big;
      color: $color-standart;
      letter-spacing: 0.13px;
      line-height: 30px;
      margin-top: 40px;
      margin-bottom: 30px;
    }
    a span {
      color: $color-olive;
    }
  }

  section:nth-child(6) {
    h4 {
      font-family: $fontGillSansLight;
      font-size: $font-size-big;
      color: $color-standart;
      letter-spacing: 0.13px;
      text-transform: uppercase;
      text-align: center;
    }
    .imgContainer {
      position: relative;
      margin-bottom: 30px;
      margin-left: -15px;
      margin-right: -15px;
    }
    .scaleOut {
      width: 50%;
      margin: auto;
    }
    #top3 {
      display: block;
      position: absolute;
      top: 40%;
      width: 30%;
      left: 0;
    }
    #bottom2 {
      display: block;
      position: absolute;
      top: 25%;
      right: 0;
      width: 30%;
    }
    .welcome {
      margin-top: 30px;
    }
  }
}

.contactContent {

  .contactBanner {
    position: relative;
    height: 500px;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .test {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .container {
      height: 100%;
    }
    .innerTest {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
    }
    h3 {
      font-size: 30px;
    }
    p {
      line-height: 1.5;
    }
    h3, p {
      margin: 30px 0;
      color: #fff;
      text-align: center;
      font-family: $fontGillSansLight;

    }
  }
  .item {
    margin-bottom: 30px;
  }
  h5 {
    font-size: $font-size-big;
    margin-bottom: 20px;
    font-family: $fontGillSansRegular;
    color: $color-standart;
  }
  .title {
    font-family: $cormorant;
    font-size: $font-size-standard;
    color: $color-standart;
    line-height: 1.3;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  P, a, li, .country {
    font-family: $fontGillSansLight;
    font-size: $font-size-standard;
    color: $color-standart;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .g-recaptcha {
    margin-top: 20px;


    &>div {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .country {
    font-size: 25px;
    margin: 20px 0;
  }
  .bloc {
    text-align: center;
    padding-bottom: 50px;
    margin-top: 30px;

    &>p a:first-child {
      margin-right: 15px;
    }
  }
  .bloc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  a.contButt {
    position: relative;
    top: 20px;
    font-family: $fontGillSansLight;
    font-size: $font-size-standard;
    color: $color-standart;
    padding: 10px;
    border: 1px solid $color-standart;
    background: $new-background-color;
  }
  span {
    display: block;
  }
  svg {
    margin-right: 5px;
    margin-bottom: 5px;
    width: 18px;
  }
  a.facebook svg {
    width: 10px;
  }
  .formcontact {
    padding: 30px 0;
    .imageContainer{
      padding-left: 0;
    }
  }
  form {
    max-width: 440px;
    margin: auto;
    position: relative;
    z-index: 2;

    h3 {
      line-height: 2;
      margin-bottom: 20px;
    }
    input {
      line-height: 40px;
      height: 40px;
      margin-bottom: 20px;
    }
    textarea {
      height: 100px;
    }
    p {
      margin-bottom: 30px;
      font-family: $fontGillSansLight;
      font-size: $font-size-standard;
      color: $color-standart;
    }
    label {
      line-height: 1;
      font-family: $fontGillSansLight;
      font-size: $font-size-label;
      color: $color-standart;
      letter-spacing: 0;
    }
    .butt {
      width: 100%;

      span {
        display: inline;
      }
    }
  }
  .welcome {
    width: 90vw;
    max-width: 790px;
    margin: auto;
  }
  section:last-child {
    padding: 10px 0;
  }
  .butt {
    background: $new-background-color;
    background-size: 100% 100%;
    margin-top: 30px;
    border: 1px solid $color-standart;
    display: block;
    width: 440px;
    text-align: center;
    overflow: hidden;
    font-size: $font-size-standard;


    span {
      font-family: $fontGillSansLight, Georgia, 'Times New Roman', Times, serif;
      font-size: $font-size-standard;
      color: $color-standart;
      letter-spacing: 0;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      vertical-align: bottom;
      padding-right: 49px;
      transition: padding .3s ease-out;
      line-height: 40px;
      height: 40px;
    }
    b {
      border: 3px solid $color-standart;
      line-height: 0px;
      font-size: 0;
      border-radius: 50%;
      display: inline;
      position: absolute;
      right: 0;
      top: calc(50% - 5px);
      opacity: 1;
      transition: right .3s ease-out;
    }
    b:nth-child(1) {
      right: 0px;
    }
    b:nth-child(2) {
      right: 15px;
    }
    b:nth-child(3) {
      right: 30px;
    }
    &:hover b:nth-child(1) {
      right: 0px;
    }
    &:hover b:nth-child(2) {
      right: 0;
    }
    &:hover b:nth-child(3) {
      right: 0;
    }
    &:hover span {
      padding-right: 15px;
    }
  }
}

// about page content

@media screen and (min-width: 768px) {

  .aboutContent {

    .cont {
      justify-content: center;
      display: grid;
      grid-template-areas:
        'row1 row1'
        'img1 img2';

      .tranText {
        grid-area: row1
      }
      .scaleIn {
        grid-area: img1
      }
      .scaleOut {
        grid-area: img2
      }
    }

    section .scaleIn,
    section .scaleOut {
      overflow: hidden;
      img {
        position: static !important;
      }
    }

    section .scaleOut img {
      width: 65% !important;
      margin-left: 0 !important;
    }

    section .scaleIn {
      margin-top: 50px;

      img {
        width: 45% !important;
        display: block;
        margin-left: auto;
        margin-right: 0;
      }
    }

    section:nth-child(3) {

      .block1  {

        img {
          width: 30%;
          float: right;
        }

        p {
          margin-top: 100px;
        }
      }
    }

    section:nth-child(4) {

      .imageContainer {
        background-image: url("/images/banners/5f8729adcde25-About5-apj.JPG");
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
      img {
        opacity: 0;
      }
    }

    section:nth-child(5),
    section:nth-child(6) {

      .imgContainer {
        margin-top: 30px;
      }
    }
  }
}


// contact content

@media screen and (min-width: 768px) {

  .contactContent {
    h3 {
      line-height: 3;
    }
  }

  .row-contact {
    margin-top: 0;

    .bloc {
      height: 100%;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
    }
    a.contButt {
      width: 360px;
      top: 0;
      margin: 0 auto;
    }
  }
}
